ul {
	list-style: none;
}
#at-plus-container {
	width: 1000px;
	height: 500px;
	position: fixed;
	margin-right: auto;
	margin-left: auto;
}
#bottom-positioner {
	width: 40px;
	height: 40px;
	position: fixed;
	left: 600px;
	top: 300px;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
#button {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
#info-bar , #control-ring-container {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
#info-bar {
	border-radius: 50%;
}
.info, .apb {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
#control-ring ul{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
.icon {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: gray;
	background-image: url(assets/images/atplus_white.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 65%;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
.page, .mine {
	width: 40px;
	height: 40px; 
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
.user {
	color: #fff;
	font-weight: bold;
}
.comment {
	color: #fff;
	font-size: 30px;
	font-weight: bolder;
}
.posted {
	color: #ff3333;
}
.like {
	color: #ff0033;
}
.button {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60% 60%;
	background-color: gray;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	o-transition: all 0.8s;
}
.unread {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	text-align: center;
	font-size: 2px;
	color: white;
	float: right;
}

#bottom-positioner:hover {
	width: 200px;
	height: 400px;
	left: 500px;
	top: 130px;
}
#bottom-positioner:hover #button {
	width: 200px;
	height: 400px; 
}
#bottom-positioner:hover .apb {
	width: 60px;
	height: 60px;
	top: 170px;
	left: 100px;
}
#bottom-positioner:hover .icon{
	width: 60px;
	height: 60px;
	background-color: rgba(48, 63, 159, 1);
	background-image: url(assets/images/atplus_green.png);
}
#bottom-positioner:hover #info-bar {
	width: 140px;
	height: 140px;
	right: 0;
	top: 10px;
	opacity: 1;
	background-color: gray;
}
#bottom-positioner:hover .info {
	width: 140px;
	height: 140px;
}
#bottom-positioner:hover .page {
	width: 40px;
	height: 30px;
}
#bottom-positioner:hover .user {
	top: 15px;
	left: 60px;
}
#bottom-positioner:hover .comment {
	left: 50px;
	top: 40px;
}
#bottom-positioner:hover .mine {
	width: 40px;
	height: 30px;
}
#bottom-positioner:hover .posted {
	top: 80px;
	left: 35px;
}
#bottom-positioner:hover .like {
	top: 80px;
	left: 90px;
}
#bottom-positioner:hover #control-ring-container {
	width: 200px;
	height: 250px;
	top: 120px;
	left: 20px;
	opacity: 1;
}
#bottom-positioner:hover .button {
	width: 35px;
	height: 35px;
}
#bottom-positioner:hover .mask {
	background-image: url(assets/images/mask.png);
	top: 30px;
	left: 35px;
}
#bottom-positioner:hover .history {
	background-image: url(assets/images/history.png);
	top: 70px;
	left: 30px;
}
#bottom-positioner:hover .message {
	background-image: url(assets/images/message.png);
	top: 110px;
	left: 45px;
}
#bottom-positioner:hover .setting {
	background-image: url(assets/images/setting.png);
	top: 125px;
	left: 90px;
}
#bottom-positioner:hover .sign {
	background-image: url(assets/images/signin.png);
	left: 140px;
	top: 110px;
}
