
form {
	width: 500px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 500px 400px;
	font-family: STKaiti, sans-serif;
	text-align: center;
	border-radius: 10px; 
}
h1 {
	border-radius: 10px; 
	margin-top: 0;
	background-color: #1291A9;
	color: #FFFFFF;
	
	font-family: STCaiyun, STKaiti, sans-serif;
}
.info {
	width: 200px;
	height: 25px;
	margin-left: 20px;
	border: 2px;
	border-radius: 100px;
	
}
#userName {
	margin-left: 5px;
}
#reset, #submit {
	width: 80px;
	height: 50px;
	border: 2px;
	font-family: Microsoft YaHei, Tahoma, sans-serif;;
	font-size: 20px;
	color: #FFFFFF;
	border-radius: 10px;
}
#reset {
	background-color: #00EC00;
}
#submit {
	background-color: #4A4AFF;
}